<h1 class="usuario-title">Gestión de usuarios</h1>
 <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
    <input type="text" [(ngModel)]="filtro" placeholder="Buscar..." class="form-control" 
           style="width: 300px; margin-right: 12px;" />
  </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Estado</th>
      <th *ngIf="clienteSeleccionado">Acciones</th>
      
    </tr>
  </thead>
  <tbody>
 
      <tr *ngFor="let u of datosFiltrados"
        [class.seleccionado]="clienteSeleccionado?.id_Cliente === u.id_Cliente"
        (click)="usuarioSeleccionado(u)">
        <td>{{ u.nombreCompleto }}</td>
        <td>{{ u.direccion }}</td>
        <td>{{ u.telefono }}</td>
        <td>{{ u.estado ? 'Activo' : 'Inactivo' }}</td>        
        <td *ngIf="clienteSeleccionado?.id_Cliente === u.id_Cliente">
          <button class="btn btn-editar" (click)="editar(clienteSeleccionado); $event.stopPropagation()">Modificar</button>
        </td> 
    </tr> 
  </tbody>
</table>





