<h1 class="usuario-title">Gestión de usuarios</h1>
 <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
    <input type="text" [(ngModel)]="filtro" placeholder="Buscar..." class="form-control" 
           style="width: 300px; margin-right: 12px;" />
  </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Username</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Estado</th>
      <th>Fecha Registro</th>
      <th *ngIf="usuarioSeleccionado">Acciones</th>
      
    </tr>
  </thead>
  <tbody>
 
      <tr *ngFor="let u of datosFiltrados"
        [class.seleccionado]="usuarioSeleccionado?.username === u.username"
        (click)="seleccionarUsuario(u)">
        <td>{{ u.nombre }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.direccion }}</td>
        <td>{{ u.telefono }}</td>
        <td>{{ u.activo ? 'Activo' : 'Inactivo' }}</td>
        <td>{{ u.fechaRegistro | date:'fullDate' }}</td>        
        <td *ngIf="usuarioSeleccionado?.id === u.id">
          <button class="btn btn-editar" (click)="editarUsuario(usuarioSeleccionado)">Editar</button>
        </td> 
    </tr> 
  </tbody>
</table>





