USE [Dionix]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_ADMINISTRADOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [int] NULL,
	[CORREO] [nvarchar](100) NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMINISTRADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [int] NULL,
	[NOMBRE_COMPLETO] [varchar](100) NULL,
	[DIRECCION] [nvarchar](300) NULL,
	[TELEFONO] [varchar](10) NULL,
	[ESTADO] [bit] NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[ID_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
	[METODO_ENTREGA] [varchar](20) NULL,
	[ID_TRANSPORTISTA] [int] NULL,
	[ESTADO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[ID_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_ADMINISTRADOR] [int] NULL,
	[USERNAME] [nvarchar](50) NULL,
	[CLAVE] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[ID_DETALLE_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPRA] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[PRECIO_COMPRA] [decimal](10, 2) NULL,
	[CANTIDAD] [int] NULL,
	[SUBTOTAL] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPRA] [int] NOT NULL,
	[NOMBRE_TITULAR] [nvarchar](100) NULL,
	[NUMERO_TARJETA] [varchar](20) NULL,
	[FECHA_EXPIRACION] [varchar](7) NULL,
	[CVV] [varchar](4) NULL,
	[FECHA_PAGO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PRODUCTO] [nvarchar](50) NULL,
	[PRECIO_VENTA] [decimal](10, 2) NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
	[STOCK] [int] NOT NULL,
	[IMAGEN] [varbinary](max) NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ROL] [nvarchar](50) NOT NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORTISTA]    Script Date: 14/7/2025 23:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORTISTA](
	[ID_TRANSPORTISTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_COMPLETO] [varchar](100) NULL,
	[CEDULA] [varchar](10) NULL,
	[CORREO_ELECTRONICO] [nvarchar](200) NULL,
	[EMPRESA] [nvarchar](200) NULL,
	[TELEFONO] [varchar](10) NULL,
	[ESTADO] [bit] NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSPORTISTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMINISTRADOR] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[COMPRA] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[COMPRA] ADD  DEFAULT ('Activo') FOR [ESTADO]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT (getdate()) FOR [FECHA_PAGO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [PRECIO_VENTA]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [STOCK]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[TRANSPORTISTA] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([ID_TRANSPORTISTA])
REFERENCES [dbo].[TRANSPORTISTA] ([ID_TRANSPORTISTA])
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([ID_ADMINISTRADOR])
REFERENCES [dbo].[ADMINISTRADOR] ([ID_ADMINISTRADOR])
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[COMPRA] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[COMPRA] ([ID_COMPRA])
GO
/****** Object:  StoredProcedure [dbo].[getAdministrador]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ADMINISTRADOR
CREATE PROCEDURE [dbo].[getAdministrador]
    @iTransaccion AS VARCHAR(30),
    @iXML         AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda   AS VARCHAR(100);

    BEGIN TRY

        -- Transacción: Consultar todos los administradores
        IF @iTransaccion = 'CONSULTAR_ADMINISTRADOR'
        BEGIN
            SELECT 
                A.ID_ADMINISTRADOR,
                A.ID_ROL,
                A.CORREO
            FROM ADMINISTRADOR A
            INNER JOIN ROL R ON A.ID_ROL = R.ID_ROL;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta general de administradores exitosa';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

    END TRY
    BEGIN CATCH
        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[getCliente]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Correcciones
CREATE PROCEDURE [dbo].[getCliente]
    @iTransaccion AS VARCHAR(30),
    @iXML         AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda   AS VARCHAR(200);
    DECLARE @nombreCompleto VARCHAR(100);

    BEGIN TRY

	IF @iTransaccion = 'CONSULTAR_TODOS_CLIENTES'
        BEGIN
            SELECT 
                C.ID_CLIENTE,
                C.ID_ROL,
                C.NOMBRE_COMPLETO,
                C.DIRECCION,
                C.TELEFONO,
                C.ESTADO
            FROM CLIENTE C
            INNER JOIN ROL R ON C.ID_ROL = R.ID_ROL;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta general de clientes exitosa';
        END

        ELSE IF @iTransaccion = 'CONSULTAR_POR_NOMBRE'
        BEGIN
            -- Extraer nombre completo desde el XML correctamente tipado
            SET @nombreCompleto = @iXML.value('(/Cliente/NombreCompleto)[1]', 'VARCHAR(100)');

            SELECT 
                C.ID_CLIENTE,
                C.ID_ROL,
                C.NOMBRE_COMPLETO,
                C.DIRECCION,
                C.TELEFONO,
                C.ESTADO
            FROM CLIENTE C
            INNER JOIN ROL R ON C.ID_ROL = R.ID_ROL
            WHERE C.NOMBRE_COMPLETO LIKE '%' + @nombreCompleto + '%';

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta por nombre completo exitosa.';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

    END TRY
    BEGIN CATCH
        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    -- Resultado final
    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[getCuenta]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getCuenta]
    @iTransaccion AS VARCHAR(30),
    @iXML         AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda   AS VARCHAR(200);

    BEGIN TRY
        IF @iTransaccion = 'CONSULTAR_CUENTAS'
        BEGIN
            DECLARE @username NVARCHAR(50);
            SET @username = @iXML.value('(/Cuenta/Username)[1]', 'NVARCHAR(50)');

            -- Buscar la cuenta con su respectivo rol (ya sea de cliente o administrador)
            SELECT 
                C.ID_CUENTA,
                C.USERNAME,
                C.CLAVE,
                ISNULL(R1.NOMBRE_ROL, R2.NOMBRE_ROL) AS ROL
            FROM CUENTA C
            LEFT JOIN CLIENTE CL ON C.ID_CLIENTE = CL.ID_CLIENTE
            LEFT JOIN ROL R1 ON CL.ID_ROL = R1.ID_ROL
            LEFT JOIN ADMINISTRADOR A ON C.ID_ADMINISTRADOR = A.ID_ADMINISTRADOR
            LEFT JOIN ROL R2 ON A.ID_ROL = R2.ID_ROL
            WHERE C.USERNAME = @username;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta de cuenta por username exitosa';
        END
    END TRY
    BEGIN CATCH
        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[getProducto]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getProducto]
    @iTransaccion AS VARCHAR(30),
    @iXML         AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda   AS VARCHAR(100);

    BEGIN TRY

        -- Transacción: Consultar todos los productos
        IF @iTransaccion = 'CONSULTAR_TODOS_PRODUCTOS'
        BEGIN
            SELECT 
                P.ID_PRODUCTO,
                P.NOMBRE_PRODUCTO,
                P.PRECIO_VENTA,
                P.DESCRIPCION,
                P.STOCK,
                P.IMAGEN,
                P.ESTADO
            FROM PRODUCTO P;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta general de productos exitosa';
        END

        -- Transacción: Consultar por nombre de producto 
        ELSE IF @iTransaccion = 'CONSULTAR_POR_NOMBRE'
        BEGIN
            DECLARE @nombreProducto NVARCHAR(50);

            SELECT @nombreProducto = Parametros.value('(//NombreProducto)[1]', 'NVARCHAR(50)')
            FROM (SELECT @iXML AS Parametros) AS x;

            SELECT 
                P.ID_PRODUCTO,
                P.NOMBRE_PRODUCTO,
                P.PRECIO_VENTA,
                P.DESCRIPCION,
                P.STOCK,
                P.IMAGEN,
                P.ESTADO
            FROM PRODUCTO P
            WHERE P.NOMBRE_PRODUCTO LIKE '%' + @nombreProducto + '%';

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta por nombre de producto exitosa';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

    END TRY
    BEGIN CATCH
        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[getRol]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ROL
CREATE PROCEDURE [dbo].[getRol]
    @iTransaccion VARCHAR(30),
    @iXML XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta VARCHAR(10);
    DECLARE @leyenda VARCHAR(200);

    BEGIN TRY
        IF @iTransaccion = 'CONSULTAR_TODOS_ROLES'
        BEGIN
            SELECT 
                ID_ROL,
                NOMBRE_ROL,
                ESTADO
            FROM ROL;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta general de roles exitosa';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END
    END TRY
    BEGIN CATCH
        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[getTransportista]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Correciones
CREATE PROCEDURE [dbo].[getTransportista]
    @iTransaccion AS VARCHAR(30),
    @iXML         AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda   AS VARCHAR(100);
    DECLARE @nombreCompleto VARCHAR(100);
    DECLARE @cedula VARCHAR(10);

    BEGIN TRY
        -- Transacción: Consultar todos los transportistas
        IF @iTransaccion = 'CONSULTAR_TODOS_TRANSPORTISTAS'
        BEGIN
            SELECT 
                ID_TRANSPORTISTA,
                NOMBRE_COMPLETO,
                CEDULA,
                CORREO_ELECTRONICO,
                EMPRESA,
                TELEFONO,
                ESTADO
            FROM TRANSPORTISTA;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta general de transportistas exitosa';
        END

        -- Transacción: Consultar transportista por nombre 
        ELSE IF @iTransaccion = 'CONSULTAR_POR_NOMBRE'
        BEGIN
            SET @nombreCompleto = @iXML.value('(/Transportista/NombreCompleto)[1]', 'VARCHAR(100)');

            SELECT 
                ID_TRANSPORTISTA,
                NOMBRE_COMPLETO,
                CEDULA,
                CORREO_ELECTRONICO,
                EMPRESA,
                TELEFONO,
                ESTADO
            FROM TRANSPORTISTA
            WHERE NOMBRE_COMPLETO LIKE '%' + @nombreCompleto + '%';

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta por nombre exitosa';
        END

        -- Transacción: Consultar transportista por cédula
        ELSE IF @iTransaccion = 'CONSULTAR_POR_CEDULA'
        BEGIN
            SET @cedula = @iXML.value('(/Transportista/Cedula)[1]', 'VARCHAR(10)');

            SELECT 
                ID_TRANSPORTISTA,
                NOMBRE_COMPLETO,
                CEDULA,
                CORREO_ELECTRONICO,
                EMPRESA,
                TELEFONO,
                ESTADO
            FROM TRANSPORTISTA WHERE CEDULA = @cedula;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Consulta por cédula exitosa';
        END

        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END
    END TRY
    BEGIN CATCH
        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END;
GO
/****** Object:  StoredProcedure [dbo].[SetCliente]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTOS ALMACENADOS
--CLIENTE
CREATE PROCEDURE [dbo].[SetCliente] 
    @iTransaccion AS VARCHAR(50),
    @iXML AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Declaración de variables
    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda AS VARCHAR(200);
    DECLARE @nombreCompleto AS VARCHAR(100);
    DECLARE @username AS NVARCHAR(50);
    DECLARE @clave AS NVARCHAR(300);
    DECLARE @direccion AS NVARCHAR(300);
    DECLARE @telefono AS VARCHAR(10);
    DECLARE @estado AS BIT;
    DECLARE @idCliente INT;
    DECLARE @IdRol INT;

    BEGIN TRY
        BEGIN TRANSACTION TRX_DATOS;

       IF @iTransaccion = 'INSERTAR_CLIENTE'
		BEGIN
			SET @nombreCompleto = LTRIM(RTRIM(@iXML.value('(/Cliente/NombreCompleto)[1]', 'VARCHAR(100)')));
			SET @username = LTRIM(RTRIM(@iXML.value('(/Cliente/Username)[1]', 'NVARCHAR(50)')));
			SET @clave = LTRIM(RTRIM(@iXML.value('(/Cliente/Clave)[1]', 'NVARCHAR(300)')));
			SET @direccion = LTRIM(RTRIM(@iXML.value('(/Cliente/Direccion)[1]', 'NVARCHAR(300)')));
			SET @telefono = LTRIM(RTRIM(@iXML.value('(/Cliente/Telefono)[1]', 'VARCHAR(10)')));
			SET @estado = CAST(@iXML.value('(/Cliente/Estado)[1]', 'BIT') AS BIT);

			-- Obtener el ID del rol 'Cliente'
			SELECT @IdRol = ID_ROL FROM ROL WHERE NOMBRE_ROL = 'Cliente';

			-- Insertar en la tabla CLIENTE
			INSERT INTO CLIENTE (
				ID_ROL, NOMBRE_COMPLETO, DIRECCION, TELEFONO, ESTADO
			)
			VALUES (
				@IdRol, @nombreCompleto, @direccion, @telefono, @estado
			);

			-- Obtener el ID_CLIENTE recién insertado
			SET @idCliente = SCOPE_IDENTITY();

			-- Insertar en la tabla CUENTA
			INSERT INTO CUENTA (
				ID_CLIENTE, USERNAME, CLAVE
			)
			VALUES (
				@idCliente, @username, @clave
			);

			SET @respuesta = 'Ok';
			SET @leyenda = 'Cliente ' + @nombreCompleto + ' y su cuenta han sido insertados correctamente.';
		END

        ELSE IF @iTransaccion = 'ACTUALIZAR_CLIENTE'
        BEGIN
            SET @idCliente = CAST(@iXML.value('(/Cliente/Id_Cliente)[1]', 'INT') AS INT);
            SET @nombreCompleto = LTRIM(RTRIM(@iXML.value('(/Cliente/NombreCompleto)[1]', 'VARCHAR(100)')));
            SET @direccion = LTRIM(RTRIM(@iXML.value('(/Cliente/Direccion)[1]', 'NVARCHAR(300)')));
            SET @telefono = LTRIM(RTRIM(@iXML.value('(/Cliente/Telefono)[1]', 'VARCHAR(10)')));
            SET @estado = CAST(@iXML.value('(/Cliente/Estado)[1]', 'BIT') AS BIT);

            UPDATE CLIENTE
            SET 
                NOMBRE_COMPLETO = @nombreCompleto,
                DIRECCION = @direccion,
                TELEFONO = @telefono,
                ESTADO = @estado
            WHERE ID_CLIENTE = @idCliente;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Cliente ' + @nombreCompleto + ' actualizado correctamente.';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

        IF @@TRANCOUNT > 0
        BEGIN
            COMMIT TRANSACTION TRX_DATOS;
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION TRX_DATOS;
        END

        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[SetCompra]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- NUEVOS AVANCES
CREATE PROCEDURE [dbo].[SetCompra]
    @iTransaccion VARCHAR(50),
    @iXML XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta VARCHAR(10);
    DECLARE @leyenda VARCHAR(200);

    -- Variables de Compra
    DECLARE @idCompra INT;
    DECLARE @total DECIMAL(10,2);
    DECLARE @metodoEntrega VARCHAR(20);
    DECLARE @idTransportista INT;

    -- Variables de Pago
    DECLARE @nombreTitular NVARCHAR(100);
    DECLARE @numeroTarjeta VARCHAR(20);
    DECLARE @fechaExpiracion VARCHAR(7);
    DECLARE @cvv VARCHAR(4);

    BEGIN TRY
        BEGIN TRANSACTION TRX_COMPRA;

        IF @iTransaccion = 'INSERTAR_COMPRA'
        BEGIN
            -- Obtener datos de la compra
            SET @total = @iXML.value('(/Compra/Total)[1]', 'DECIMAL(10,2)');
            SET @metodoEntrega = @iXML.value('(/Compra/MetodoEntrega)[1]', 'VARCHAR(20)');
            SET @idTransportista = @iXML.value('(/Compra/IdTransportista)[1]', 'INT');

            INSERT INTO COMPRA (TOTAL, METODO_ENTREGA, ID_TRANSPORTISTA)
            VALUES (@total, @metodoEntrega, @idTransportista);

            SET @idCompra = SCOPE_IDENTITY();

            -- Insertar productos en detalle
            DECLARE @i INT = 1;
            DECLARE @cantProductos INT = @iXML.query('count(/Compra/Detalle/Producto)').value('.', 'INT');

            WHILE @i <= @cantProductos
            BEGIN
                DECLARE @idProducto INT = @iXML.value('(/Compra/Detalle/Producto[position()=sql:variable("@i")]/IdProducto)[1]', 'INT');
                DECLARE @precioCompra DECIMAL(10,2) = @iXML.value('(/Compra/Detalle/Producto[position()=sql:variable("@i")]/PrecioCompra)[1]', 'DECIMAL(10,2)');
                DECLARE @cantidad INT = @iXML.value('(/Compra/Detalle/Producto[position()=sql:variable("@i")]/Cantidad)[1]', 'INT');
                DECLARE @subtotal DECIMAL(10,2) = @iXML.value('(/Compra/Detalle/Producto[position()=sql:variable("@i")]/Subtotal)[1]', 'DECIMAL(10,2)');

                -- Insertar en detalle
                INSERT INTO DETALLE_COMPRA (ID_COMPRA, ID_PRODUCTO, PRECIO_COMPRA, CANTIDAD, SUBTOTAL)
                VALUES (@idCompra, @idProducto, @precioCompra, @cantidad, @subtotal);

                -- Disminuir el stock
                UPDATE PRODUCTO
                SET STOCK = STOCK - @cantidad
                WHERE ID_PRODUCTO = @idProducto;

                SET @i += 1;
            END

            -- Insertar pago
            SET @nombreTitular = @iXML.value('(/Compra/Pago/NombreTitular)[1]', 'NVARCHAR(100)');
            SET @numeroTarjeta = @iXML.value('(/Compra/Pago/NumeroTarjeta)[1]', 'VARCHAR(20)');
            SET @fechaExpiracion = @iXML.value('(/Compra/Pago/FechaExpiracion)[1]', 'VARCHAR(7)');
            SET @cvv = @iXML.value('(/Compra/Pago/CVV)[1]', 'VARCHAR(4)');

            INSERT INTO PAGO (ID_COMPRA, NOMBRE_TITULAR, NUMERO_TARJETA, FECHA_EXPIRACION, CVV)
            VALUES (@idCompra, @nombreTitular, @numeroTarjeta, @fechaExpiracion, @cvv);

            SET @respuesta = 'Ok';
            SET @leyenda = 'Compra registrada correctamente.';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION TRX_COMPRA;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION TRX_COMPRA;

        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END;
GO
/****** Object:  StoredProcedure [dbo].[SetProducto]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetProducto] 
@iTransaccion AS VARCHAR(50),
@iXML AS XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Declaración de variables
    DECLARE @respuesta AS VARCHAR(10);
    DECLARE @leyenda AS VARCHAR(200);
    DECLARE @idProducto INT;
    DECLARE @nombreProducto NVARCHAR(50);
    DECLARE @precioVenta DECIMAL(10,2);
    DECLARE @descripcion NVARCHAR(50);
    DECLARE @stock INT;
    DECLARE @imagen VARBINARY(MAX);
    DECLARE @estado BIT;

    BEGIN TRY
        BEGIN TRANSACTION TRX_PRODUCTO;

        IF @iTransaccion = 'INSERTAR_PRODUCTO'
        BEGIN
            SET @nombreProducto = LTRIM(RTRIM(@iXML.value('(/Producto/NombreProducto)[1]', 'NVARCHAR(50)')));
            SET @precioVenta = @iXML.value('(/Producto/PrecioVenta)[1]', 'DECIMAL(10,2)');
            SET @descripcion = LTRIM(RTRIM(@iXML.value('(/Producto/Descripcion)[1]', 'NVARCHAR(50)')));
            SET @stock = @iXML.value('(/Producto/Stock)[1]', 'INT');
            SET @imagen = @iXML.value('(/Producto/Imagen)[1]', 'VARBINARY(MAX)');
            SET @estado = @iXML.value('(/Producto/Estado)[1]', 'BIT');

            INSERT INTO PRODUCTO (
                NOMBRE_PRODUCTO, PRECIO_VENTA, DESCRIPCION, 
                STOCK, IMAGEN, ESTADO
            )
            VALUES (
                @nombreProducto, @precioVenta, @descripcion, 
                @stock, @imagen, @estado
            );

            SET @respuesta = 'Ok';
            SET @leyenda = 'Producto insertado correctamente.';
        END
        ELSE IF @iTransaccion = 'ACTUALIZAR_PRODUCTO'
        BEGIN
            SET @idProducto = @iXML.value('(/Producto/Id_Producto)[1]', 'INT');
            SET @nombreProducto = LTRIM(RTRIM(@iXML.value('(/Producto/NombreProducto)[1]', 'NVARCHAR(50)')));
            SET @precioVenta = @iXML.value('(/Producto/PrecioVenta)[1]', 'DECIMAL(10,2)');
            SET @descripcion = LTRIM(RTRIM(@iXML.value('(/Producto/Descripcion)[1]', 'NVARCHAR(50)')));
            SET @stock = @iXML.value('(/Producto/Stock)[1]', 'INT');
            SET @imagen = @iXML.value('(/Producto/Imagen)[1]', 'VARBINARY(MAX)');
		    DECLARE @imagenBase64 VARCHAR(MAX);
			/*--Nuevo paso
			SET @imagenBase64 = @iXML.value('(/Producto/ImagenBase64)[1]', 'VARCHAR(MAX)');

			-- Convertir base64 a VARBINARY en SQL
			IF @imagenBase64 IS NOT NULL
				SET @imagen = CAST('' AS XML).value('xs:base64Binary(sql:variable("@imagenBase64"))', 'VARBINARY(MAX)');
			ELSE
				SET @imagen = NULL;*/

            SET @estado = @iXML.value('(/Producto/Estado)[1]', 'BIT');

            UPDATE PRODUCTO
            SET 
                NOMBRE_PRODUCTO = @nombreProducto,
                PRECIO_VENTA = @precioVenta,
                DESCRIPCION = @descripcion,
                STOCK = @stock,
                IMAGEN = @imagen,
                ESTADO = @estado
            WHERE ID_PRODUCTO = @idProducto;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Producto actualizado correctamente.';
        END
        ELSE IF @iTransaccion = 'ELIMINAR_PRODUCTO'
        BEGIN
            SET @idProducto = @iXML.value('(/Producto/Id_Producto)[1]', 'INT');

            DELETE FROM PRODUCTO WHERE ID_PRODUCTO = @idProducto;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Producto eliminado correctamente.';
        END
        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION TRX_PRODUCTO;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION TRX_PRODUCTO;

        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END
GO
/****** Object:  StoredProcedure [dbo].[SetTransportista]    Script Date: 14/7/2025 23:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetTransportista] 
    @iTransaccion VARCHAR(50),
    @iXML XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @respuesta VARCHAR(10);
    DECLARE @leyenda VARCHAR(200);

    -- Variables
    DECLARE @idTransportista INT;
    DECLARE @nombreCompleto VARCHAR(100);
    DECLARE @cedula VARCHAR(10);
    DECLARE @correo NVARCHAR(200);
    DECLARE @empresa NVARCHAR(200);
    DECLARE @telefono VARCHAR(10);
    DECLARE @estado BIT;

    BEGIN TRY
        BEGIN TRANSACTION TRX_DATOS;

        -- Insertar Transportista
        IF @iTransaccion = 'INSERTAR_TRANSPORTISTA'
        BEGIN
            SET @nombreCompleto = LTRIM(RTRIM(@iXML.value('(/Transportista/Nombre_Completo)[1]', 'VARCHAR(100)')));
            SET @cedula = LTRIM(RTRIM(@iXML.value('(/Transportista/Cedula)[1]', 'VARCHAR(10)')));
            SET @correo = LTRIM(RTRIM(@iXML.value('(/Transportista/Correo_Electronico)[1]', 'NVARCHAR(200)')));
            SET @empresa = LTRIM(RTRIM(@iXML.value('(/Transportista/Empresa)[1]', 'NVARCHAR(200)')));
            SET @telefono = LTRIM(RTRIM(@iXML.value('(/Transportista/Telefono)[1]', 'VARCHAR(10)')));
            SET @estado = CAST(@iXML.value('(/Transportista/Estado)[1]', 'BIT') AS BIT);

            INSERT INTO TRANSPORTISTA (NOMBRE_COMPLETO, CEDULA, CORREO_ELECTRONICO,EMPRESA, TELEFONO, ESTADO)VALUES (
            @nombreCompleto, @cedula, @correo, @empresa, @telefono, @estado);

            SET @respuesta = 'Ok';
            SET @leyenda = 'Transportista insertado correctamente.';
        END

        -- Actualizar Transportista
        ELSE IF @iTransaccion = 'ACTUALIZAR_TRANSPORTISTA'
        BEGIN
            SET @idTransportista = CAST(@iXML.value('(/Transportista/Id_Transportista)[1]', 'INT') AS INT);
            SET @nombreCompleto = LTRIM(RTRIM(@iXML.value('(/Transportista/Nombre_Completo)[1]', 'VARCHAR(100)')));
            SET @cedula = LTRIM(RTRIM(@iXML.value('(/Transportista/Cedula)[1]', 'VARCHAR(10)')));
            SET @correo = LTRIM(RTRIM(@iXML.value('(/Transportista/Correo_Electronico)[1]', 'NVARCHAR(200)')));
            SET @empresa = LTRIM(RTRIM(@iXML.value('(/Transportista/Empresa)[1]', 'NVARCHAR(200)')));
            SET @telefono = LTRIM(RTRIM(@iXML.value('(/Transportista/Telefono)[1]', 'VARCHAR(10)')));
            SET @estado = CAST(@iXML.value('(/Transportista/Estado)[1]', 'BIT') AS BIT);

            UPDATE TRANSPORTISTA
            SET 
                NOMBRE_COMPLETO = @nombreCompleto,
                CEDULA = @cedula,
                CORREO_ELECTRONICO = @correo,
                EMPRESA = @empresa,
                TELEFONO = @telefono,
                ESTADO = @estado
            WHERE ID_TRANSPORTISTA = @idTransportista;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Transportista actualizado correctamente.';
        END

        -- Eliminar Transportista
        ELSE IF @iTransaccion = 'ELIMINAR_TRANSPORTISTA'
        BEGIN
            SET @idTransportista = CAST(@iXML.value('(/Transportista/Id_Transportista)[1]', 'INT') AS INT);

            DELETE FROM TRANSPORTISTA WHERE ID_TRANSPORTISTA = @idTransportista;

            SET @respuesta = 'Ok';
            SET @leyenda = 'Transportista eliminado correctamente.';
        END

        ELSE
        BEGIN
            SET @respuesta = 'Error';
            SET @leyenda = 'Transacción no válida.';
        END

        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION TRX_DATOS;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION TRX_DATOS;

        SET @respuesta = 'Error';
        SET @leyenda = 'Error en la transacción [' + @iTransaccion + ']: ' + ERROR_MESSAGE();
    END CATCH

    SELECT @respuesta AS Respuesta, @leyenda AS Leyenda;
END;
GO
