img{
    width: 100%;
    height: 240px
}
.separacion-catalogo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-agregar {
  background-color: #28a745; /* verde */
  color: white;
  border: none;
}

.btn-agregar:hover {
  background-color: #218838; /* verde oscuro */
  color: white;
}


