<h2 class="titulo-formulario">Editar Producto</h2>

<form #editarForm="ngForm">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" [(ngModel)]="data.nombreProducto" name="nombre" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="number" id="precio" [(ngModel)]="data.precioVenta" name="precio" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="stock">Stock</label>
    <input type="number" id="stock" [(ngModel)]="data.stock" name="stock" class="form-control" required />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea id="descripcion" [(ngModel)]="data.descripcion" name="descripcion" class="form-control" rows="3" required></textarea>
  </div>

  <div class="form-group">
  <label>Imagen</label>
  <input type="file" (change)="onFileSelected($event)" class="form-control" accept="image/*" />
</div>

<div class="form-group" *ngIf="imagenURL">
  <label>Vista previa:</label><br />
  <img [src]="imagenURL" alt="Vista previa" width="100" height="100" />
</div>

  <div class="form-buttons">
    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </div>
</form>


