<header class="header">
  <div class="left-section">
    <img src="/image/logo.png" alt="Logo de Dionix" class="logo-img" />
  </div>

  <nav class="nav-buttons">
    
    <span *ngIf="authService.isLoggedIn()" class="user-info">
      Bienvenido, {{ authService.getCurrentUser() }}
    </span>

   @if (authService.getRoleFromToken() === 'Cliente') {
      <button *ngIf="mostrarCarrito()" mat-raised-button class="btnCarrito" (click)="realizarCompra()">
      <mat-icon>shopping_cart</mat-icon> Carrito
    </button>
  }
 
    <button 
    *ngIf="!authService.isLoggedIn()" 
    mat-raised-button 
    class="btnRegistrar" 
    (click)="registrarUsuario()">
    Registrarse
  </button>
  
    <button mat-raised-button class="btnlogin"
      [color]="authService.isLoggedIn() ? 'warn' : 'primary'"
      (click)="authService.isLoggedIn() ? logout() : navigateToLogin()">
      {{ authService.isLoggedIn() ? 'Cerrar sesión' : 'Iniciar sesión' }}
    </button>
   </nav>

</header>

  
