
<div class="container">
  <h2 class="usuario-title">Gestión de Productos</h2>
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
    <input type="text" [(ngModel)]="filtro" placeholder="Buscar..." class="form-control" 
           style="width: 300px; margin-right: 12px;" />
    <button class="btn btn-success" (click)="abrirRegistro()">Registrar</button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio ($)</th>
        <th>Stock</th>
        <th>Imagen</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of datosFiltrados">
        <td>{{ p.nombreProducto }}</td>
        <td>{{ p.precioVenta }}</td>
        <td>{{ p.stock }}</td>
        <td>
          <img *ngIf="p.imagen" [src]="getImagenSrc(p.imagen)" alt="Imagen del producto" width="100" height="100" />
        </td>
        <td>{{ p.estado ? 'Activo' : 'Inactivo' }}</td>
        <td>
          <button class="btn btn-sm btn-primary me-1" (click)="editar(p)">Modificar</button>
          <button class="btn btn-sm btn-danger" (click)="eliminar(p)">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="productos.length === 0">
        <td colspan="4" class="text-center">No hay productos registrados</td>
      </tr>
    </tbody>
  </table>
</div>
